<h1 class="title">New Author</h1>

<%= render 'form' %>

<div class="row">
    <div class="col-xs-12 col-xs-offset-3">
        <%= link_to authors_path do %>
            <i class="glyphicon glyphicon-hand-left"></i>
            <span class="sr-only">Voltar</span>
        </span>
        <% end %>               
    </div>
</div>    